/* ____________preloader css _____________________*/
#preloader{
	background-color: blue;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position :fixed;

}
#status
{

background-image: url(../img/preloader/preloader.gif);
background-repeat: no-repeat;
width: 70px ;
height :70px; 
position: absolute;
left: 50%;
bottom: 50%;
margin-left: -35px;
margin-bottom: -35px;

}
/* ________________________________________________________________*/



#bg_video{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -999999;
}

#home_overlay{
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -999999;
}