/*------------------ general setting------------------------------------*/
html , body{

	height: 100%;}
body{
	color: grey;
}	
h1,h2,h3,h4,h5,h6{
	font-family: "Raleway";
}
p{
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
section{
	background: white;
	overflow: hidden;
}
.btn-general{
	
	font-family: "Raleway";
	border-width: 1px;
	border-radius: 28px;
	font-size: 13px;
	text-transform: uppercase;
	margin : 0,6px;
	padding: 12px 46px 12px 46px;
        transition: all .5s;
}


.btn_home{

border: solid;
border-color: white;
	border-width: 1px;
}
.btn_home:hover, 
.btn_home:focus{
color: white;
background-color: #f4c613;
border : solid 1px #f4c613;
}

.btn-yellow{

border: solid;
border-color:#f4c613;
	border-width: 1px;
	background-color: #f4c613;
}
.btn-yellow:hover, 
.btn-yellow:focus{
color: white;
background-color: #212226;
border : solid 1px #212226;
}








.content-box-lg{
	padding: 120px 0px;
}
.vertical-heading h5{
	color: #f4c613;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	word-spacing: 9px;
     display: inline-block;
     transform: rotate(-90deg);
     position: relative;
     top :60px;
     left: -63px;
}

.vertical-heading h2{
	margin: 0 0 0 25px;
    font-size: 42px;
    font-weight: 100 ;
    line-height: 45px;

}



.horizontal-heading{
	 margin-bottom: 80px; 
}
.horizontal-heading h5{
	font-size: 16px;
	color :#f4c613;
	text-transform: uppercase;
	display: inline-block; 
     margin-bottom:10px; 
}
.horizontal-heading h2{
  font-size:42px;
  font-weight: 100;
  line-height: 45px;
  margin: 0;
}
/*____________________________________________________________________________________*/










/* ___________________________________preloader css ___________________________________*/
#preloader{
	background-color: white;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position :fixed;

}
#status
{

background-image: url(../img/preloader/preloader.gif);
background-repeat: no-repeat;
width: 70px ;
height :70px; 
position: absolute;
left: 50%;
bottom: 50%;
margin-left: -35px;
margin-bottom: -35px;

}
/*_________________________preloader complete_____________________________*/


/* __________________________home section______________________________________*/

#home{
	background : none;
	height: 100%;
}

#bg_video{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -999999;
}

#home_overlay{
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -999999;
}
#home_content{
	width: 100%;
	height: 100%;
	display: table;
}
#home_content_inner{
	display: table-cell;
	vertical-align: middle;
}
#home_heading h1{
	color: white;
	font-size: 65px;
	font-weight: 100;
	text-transform: uppercase;
	margin: 0;
	display: inline-block;
}
#heading_span{
color: #f4c613;
font-weight: 400;	
}

#home_paragraph p{
	color: white;
	font-weight: 10;
	font-size: 17px;
	margin: 8,0,30,0 ;
}

#arrow-down
{
position: absolute;
left: 50%;
bottom: 20px;
color: white;
font-size: 32px;
width: 32px;
height: 32px;
text-align: center;
margin-left: -16px;
z-index: 10;

}


#arrow-down:hover ,
 #arrow-down:focus
 {
 	color: #f4c613;
 }

/*_______________________home section complete   _______________________*/



/*______________________team section____________________________________*/


#team-left .vertical-heading{
min-height: 160px;
}
.team-member{
	margin: 8px;
	position: relative;
}
.team-member-overlay{
	 background-color: rgba(33,34,38,.9);
	 position: absolute;
	 top: 0;
	 left: 0;
	 height: 100%;
	 width:100%;
	 opacity: 0;
}
.team-member-info{
	width: 100%;
	height: 100%;
	padding: 80px 0; 
}

.team-member-info h6{
	color: #f4c613;
	font-size: 16px;
	margin: 0 ;
}
.team-member-info p {
	color: #fff;
}

.team-member:hover .team-member-overlay{
	opacity: 1;
	transition: all 300ms linear;
}


.owl-theme .owl-nav [class*=owl-]{

	color: #212226;
	font-size: 400px;
}
/*  skill -Section        */


.skill{
	margin: 20px;
}
.skill h4{
	line-height: 64px;
	margin: 0;
}
.progress{
	height: 25px;
	border-radius: 0;
	background: #f4f4f4;
}
.progress-bar{
	background-color: #f4c613;
	position: relative;
}
.progress-bar span{
	background-color: grey;
	font-size: 11px;
	font-weight: 100;
	padding: 3px;
	position: absolute;
	left: 97%;
}
/*___________________team-section ends___________________*/



/*_______________Social Icons_____________________*/



.social-list{
	padding: 0;
	margin-top: 20px;

}
.social-list li{
	display: inline-block;
	padding: 0;
}
.social-list li a{
	
	border:  1px  solid #fff;
	width: 35px;
	height:35px;
	display: inline-block;
	line-height: 35px;
	color: #fff;
	border-radius: 50%;

        
}

.social-list li:nth-child(1) a:hover{
	background-color: #3b5998;
	border-color: transparent;
	transition: all 400ms linear;
}

.social-list li:nth-child(2) a:hover{
	background-color: #00aced;
	border-color: transparent;
	transition: all 400ms linear;
}

.social-list li:nth-child(3) a:hover{
	background-color: #dd4a39;
	border-color: transparent;
	transition: all 400ms linear;
}

/*_______________________________________________*/

/*  ________________Statement-Section______________*/

#statement{
	background: url("../img/tech/tech-quote.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#statement .content-box-lg
{
	background: rgb(0,0,0,.3);
}
#tech-statement h3{
	color: white;
	font-size: 30px;
	line-height: 45px;

}

/*_____________________End of statement-section ____________*/





</*____________________________about section _____________________________*/


</*_____________________________part 1 __________________________________*/


#right-about p:first-child{
	margin-bottom: 30px;

}
#about-bottom-image{
	margin-top: 60px;
}
#about-bottom-image img{
	margin: 0 auto;

}
/*______________part 1 complete____________________________*/




/*            part 2 start_______________________________*/

#part-2
{

	background-color: #f4f4f4;
}
.content-box-md
{
	padding: 100px 0 ;
}
.about-item{
	background-color: white;
	padding: 80px 30px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.about-item i{

	font-size: 40px;
	margin: 0;
}
.about-item h3{
	font-size: 24px;
	margin-bottom: 10px;
}
.about-item hr{
	width: 45px;
	height: 3px;
	background-color: #f4c613;
	margin: 0 auto;
	border: none;
}
.about-item p{
	margin-top: 20px;
}

.about-item:hover
{
	background-color: #f4c613;
	transform: all 400ms ease-in-out;
}


.about-item:hover i
{
	transform: translateY(-20px);
	color: white;
}
.about-item:hover p{
	color: white;
}
.about-item:hover h3{
	color: white;
}
.about-item:hover hr{
	background-color: white;
}


/* _______________________________________*/



/*   service section _____________________*/

  #services-01 img{
  	margin: 60px 0;
  }

.service{
	margin: 35px 0;
}

.service .icon{
	font-size: 42px;
	margin :0;
}

.service:hover .icon{
	color: #f4c613;
	transform: translateX(-20px);
	transition: all 400ms linear;
}
.service h5{
	font-size: 12px;
	text-transform: uppercase;
	color: #f4c613;
	margin: 0 0 6px 0;
}
.service:hover h5{
	color: grey;
}
.service h4{
	font-size: 24px;
	margin: 0  0 8px 0;
}
.service p{
	line-height: normal;
}



/*service section part-02  */


#services-2{
	background-color: #f4f4f4;
}
#services-2 ul{
	margin-bottom: 40px;
}

#services-2 ul li{
	padding: 5px 30px;
}

#services-2 ul li a{
	font-family: "Raleway";
	font-size: 13px;
	color: #212226;
	text-transform: uppercase;
	font-weight: 400;
	padding: 0;
	text-decoration: none;
}


#services-2 ul li.r-tabs-state-active a{
	color: #f4c613;
	font-weight: 700;
	border-bottom: 3px solid #f4c613;
	padding: 5px;
    transition: border-color 300ms linear;
}
.service-tab img{
	width: 100%;
	margin: 0 auto;

}
.service-tab .col-md-6{
padding: 0;
}
.service-tab .tab-bg {
    background-color: white;
    padding: 59px 30px;
    min-height: 81px;
}
.service-tab h2{
	color: #bbb;
	font-size: 68px;
	margin-bottom: 20px;
	font-weight: 100;
}
.service-tab h3{
	font-size: 32px;
	margin-bottom: 20px;
}

.service-tab p{
	font-size: 24px;
	margin-bottom: 30px;
}

/*Services section ends here  */


/* work-section portfolio start here*/
#portfolio{
	padding-bottom:160px; 
}
#portfolio .vertical-heading{
	  margin-bottom: 50px;
}

#portfolio-wrapper  .col-md-3
{
	padding: 0;
}

.portfolio-item{
	overflow: hidden;
	position: relative;
}

/*css on filter effect*/

#isotope-filters{
	margin-bottom: 10px;
	padding: 20px 25px 20px 0;
}

#isotope-filters button{
	font-family: "Raleway";
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	background: transparent;
	box-shadow: none;
	padding-right: 35px;
}
#isotope-filters button span{
	display: block;
	padding-bottom: 5px;
	transition: border-color 400ms ease-in-out;
}

#isotope-filters button.active span{
	color: #f4c613;
	border-bottom: 3px solid #f4c613;

}

.portfolio-item img{
	width: 100%;
	height: auto;
	transition: transform .5s ease-in-out;
}
.portfolio-item:hover img
{
	transform: scale(1.3);
}
/* overlay effect*/
.portfolio-item-overlay{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background:rgba(14,14,17,.9);
cursor: zoom-in;
opacity: 0;
transition: all 0.8s ease-in-out;
}
.portfolio-item-details{
	width: 100%;
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);
}

.portfolio-item-details h3{
	color: #f4c613;
	text-transform: uppercase;
	font-size: 30px;
	margin: 0;
	padding: 0;
transform: translateY(-20%);
}

.portfolio-item-details p{
	 color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	transform: translateY(20%);
}

.portfolio-item:hover .portfolio-item-overlay{
	opacity: .9;
}

.portfolio-item-details span{
	display: inline-block;
	border-top: 1px solid #fff;
	border-bottom:  1px solid #fff;
	width: 30px;
	height: 6px;
	margin: 11px auto 5px auto;
}
/* Testimonial section*/


#testimonials{
	background-color: #f4f4f4;
	padding-bottom:  45px;
	overflow: visible;

}
#testimonials .vertical-headings{
	padding: 80px 0;
	margin-bottom:50px: 

}
#testimonial-slider{
	background-color: #f4c613;
	 transform: translateY(-120px);
}

.testimonial{
	padding: 20px 45px 0 45px;
	color: white;
}

.testimonial h3{
	font-size: 32px;
	line-height: 35px;
}
.testimonial .stars{
	font-size: 20px;
	margin: 20px 0 10px 0;

}
.testimonial .p{
	margin: 0;
	margin-bottom: 10px;
	margin-top: 5px;
}
.testimonial .author .author-name-desg{
	text-align: left;
	width: 106px;
	margin-top: 25px;
}

.author .author-name-desg p{
	margin: 0;
}


/*testimonial section ends here  */ 

#extra-space{
	height: 250px;
	width: cover;
	background-color: white;
}

/* blog section  */


#blog{
	background-color: #f4f4f4;
}

#blog-left p{
	margin: 25px 0;
}

#blog-left a{
	margin: 0;
}
.blog-post{

	background-color: white;
	padding: 20px; 
	box-shadow: 0 0 10px 0 rgba(0 ,0,0,0.1);
	border-radius: 6px;
 }


 .blog-post h4{
 	line-height: 40px;
 	margin: 0;
 }

 .blog-post > p{
      line-height: 24px;
      margin: 0;
      font-weight: 300;;
 }

 .blog-post a{
 	display: inline-block;
 	margin-top: 25px;
    font-family: "Raleway";
    text-transform: uppercase;
    color: #f4c613;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: all 400ms linear;
 }

 .blog-post a:hover{
 	color: #212226;
 	 }

 .blog-post .blog-meta{

 	border-top: 1px solid #e0e0e0;
 	margin-top: 30px;
 	padding-top: 10px;
 	 }	 
 .blog-post .blog-meta p{
 	font-size: 11px;
 	font-family:"Raleway";
 	margin: 0;
 	line-height: 24px;
 	font-weight:500;
 }	
/* blog section ends here*/


 /* Contact-section  */

 #contact-left p{

margin :25px 0 20px 0;
 }
 ul.office-details{
list-style:  none;
padding: 0;
 }

 ul.office-details li{
 margin-top: 12px;
 display: flex;
 }

 ul.office-details li i{
 	font-size: 20px;
 	width: 45px;
 }


 #contact-left  .social-list li a{

color: #212226;
border:1px solid #212226;
text-align: center;
 }


 #contact-left  .social-list li a:hover{
 	color: white;
 	border-color: transparent;
 }

 /*rigeh-side of contact section*/

 #contact-right{
 	background-color: #fff;
 	padding: 25px 30px;
box-shadow: 0 0 10px rgba(0,0,0,.1);
border-radius: 6px;
 }

#contact-right h4{
  font-size: 24px;
 }

#contact-right p{
 margin-bottom: 25px;
 }

 #contact-right form input.form-control{
   padding: 10px 15px;
   line-height: 24px;
   
 }

 #contact-right form textarea.form-control {
  min-height: 150px; 
 }



 /* Footer-Area                 */

 footer{
 	background-color: #212226;
 	padding: 30px;
}

footer p{
	color: white;
	line-height: 20px;
}

footer p span
{
	color: #f4c613;
}

/* footer ends here   */

/*  navigation-bar     */
nav{
padding: 35px 0 20px 0	;
transition: all 500ms linear;
}

.nav-wrapper{
	padding: 0 85px;
	
	}

.navbar-brand{
	padding: 13px 15px;
}

ul.navbar-nav > li > a{
	font-family: "Raleway";
	color: white;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}

ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus{
	background: none;
	color: #f4c613;
}


.white-navbar{
	background-color: white;
	padding: 10px 0;
	box-shadow: 0 8px 6px -9px #999;
	z-index: 444;
}
.white-navbar ul.navbar-nav > li > a{
	color: #212226; 
}

.white-navbar ul.navbar-nav > li > a:hover ,
.white-navbar ul.navbar-nav > li > a:focus{
	color: #f4c613;
}